<section id="details-page">

    <div class="main_card">
        <div class="card_left">
            <div class="card_datails">

                <h1>Name: {{creature.name}}</h1>
                <h3>Created by an author: {{creature.owner.firstName}} {{creature.owner.lastName}}</h3>
                <div class="card_character">
                    <p class="card-species">Species: {{creature.species}}</p>
                    <p class="card-skin">Skin colour: {{creature.skinColor}}</p>
                    <p class="card-eye">Eye colour: {{creature.eyeColor}}</p>
                </div>

                <p class="disc">{{creature.description}}</p>

                {{#if user}}
                <div class="social-btn">
                    {{#if creature.isOwner}}
                    <a href="/creature/{{creature._id}}/edit" class="edit-btn">Edit</a>
                    <a href="/creature/{{creature._id}}/delete" class="del-btn">Delete</a>
                    {{else}}
                    {{#if creature.hasVote}}
                    <p class="thanks-for-vote">Thanks For Voting</p>
                    {{else}}
                    <a href="/creature/{{creature._id}}/vote" class="vote-up">Vote</a>
                    {{/if}}
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </div>
        <div class="card_right">
            <img src="{{creature.image}}" alt="image">
        </div>
    </div>

</section>

<section id="votes">
    <div class="vote-info">
        <div class="card_left">
            <div class="card_datails">
                <h1>Votes</h1>
                <div class="card_vote">
                    <p class="PV">Total rating of votes: {{creature.votes.length}}</p>
                </div>
                {{#if creature.votes.length}}
                <p class="disc">People who voted for the post - {{creature.printVotes}}</p>
                {{else}}
                <p class="disc">People who voted for the post - No one has voted yet.</p>
                {{/if}}
            </div>
        </div>
    </div>
</section>